/*==========================================================================
colors
========================================================================== */
$color-main: #319CFF;
$color-sub:#FFF9EB;
$color-text: #3e3e3e;
$color-background: #fff;
$color-white:#fff;
$color-false:red;

/*==========================================================================
fonts
========================================================================== */
$font-family-default:'Noto Sans JP', "游ゴシック", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "Droid Sans", sans-serif;
$font-family-english: "Montserrat", sans-serif;